@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: -webkit-fill-available !important;
  max-height: -webkit-fill-available !important;
  width: -webkit-fill-available !important;
  max-width: -webkit-fill-available !important;
  background-color: #f8f9fc;
  overflow: -moz-hidden-unscrollable;
  overflow-y: hidden;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
